@import "config";
@import "utilities";
@import "buttons";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $font;
  background-color: $light-color;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.showcase {
  background-color: $primary-color;
  height: 600px;
  color: #fff;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style: none;
    }
    li {
      padding: 20px;
    }
    a:hover {
      color: $secondary-color;
    }
  }
  a {
    color: #fff;
  }
  // Shocase Content
  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    img {
      width: 50%;
    }
    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
    p {
      margin: 20px 0;
      letter-spacing: 2px;
    }
  }
}
